
form{
	width: 100%;
	height: 100%;
	position: fixed;
}

.page{
	background: url("../assets/backgrounds/backgroundtexture.png");
	width: 100%;
	height: 100%;
	position: absolute;
}




/*---------------------------------------------------------------------------------------------*/
/*--Header--*/




#header{
	background: url("../assets/login/topbar.png");
	height: 8%;
	width: 100%;
	max-height: 72px;
	position: absolute;	
}

.headerButtons{
	width: 10%;
	height: 90%;
	position: absolute;
}

#last{
	position: absolute;
	height: 85%;
	width: 85%;
	margin-top: 5%;
	margin-left: 5%;
}

#title{
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 100%;
	font-size: 4vmin;
	font-family: Helvetica,sans,sans-serif;	
	line-height: 0;
	top: 2.5%;
	color: white;
}

#headerNext{
	margin-left: 81%;
	position: absolute;
}

#next{
	position: absolute;
	height: 85%;
	width: 85%;
	margin-top: 5%;
	margin-left: 100%;
}

#footer{
	background: url("../assets/login/bottombar.png");
	position: absolute;
	bottom: 0;
	width: 101%;
	height: 8%;
	max-height: 72px;
	margin-left: -1%;
}




/*---------------------------------------------------------------------------------------------*/
/*--Selected-Icons--*/




.selectedHolder{
	position: fixed;
	top: 11%;
	left: 22.5%;
	width: 60%;
	height: 20%;
}

.selectedIcons{
	width: 20%;
	height: 100%;
	margin-left: 2%;
}




/*---------------------------------------------------------------------------------------------*/
/*--Category--*/




.chooseHolder{
	position: absolute;
	bottom: 8%;
	width: 100%;
	height: 58%;	
}

#chooseHolder{
	width: 100%;
	height: 100%;
}

.categoryHolder{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	bottom: 0;
	top: 4%;
	left:1.7%;
}

.category{
	display: block;
	width: 27%;
	height: 28.7%;
	margin-bottom: .8%;
	opacity: .8;
}

#active{
	opacity: 1;
}




/*---------------------------------------------------------------------------------------------*/
/*--Type-Icons--*/




.chooseIcons{
	z-index: 1;
	position: fixed;
	height: 47%;
	width:66%;
	top:39.5%;
	left: 32%;
	display: inline;
}

.typeHolder{
	position: absolute;
	width:80%;
	height: 100%;
	left: 10%;
	display: inline;
}

.categoryType{
	width: 23%;
	height: 47%;
	margin-bottom: 3%; 
	margin-right: 3%;
}

#cameraButton{
	position: absolute;
	width: 20%;
	height: 100%;
	left: 78%;
}

[title~="selected"]{
	opacity: 0.5;
}




/*---------------------------------------------------------------------------------------------*/
/*--Footer--*/




#footer{
	background: url("../assets/login/bottombar.png");
	position: absolute;
	bottom: 0;
	width: 101%;
	height: 8%;
	max-height: 72px;
	margin-left: -1%;
}

#footerImg{
	position: absolute;
	width: 4%;
	height: 80%;
	left: 92.5%;
	top: 10%;
}




/*---------------------------------------------------------------------------------------------*/
/*--Splash-Icons--*/




.splashIcons{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 3;
	visibility: hidden;
}

.splashTop{
	position: fixed;
	opacity: normal;
	height: 60%;
	width: 100%
}

.splashIcon{
	position: absolute;
	height: 100%;
	width: 33.5%;
	margin-left: 2%;
}

.splashText{
	position: absolute;
	left: 45%;
	top: 20%;
	font-family: Helvetica,sans,sans-serif;	
	color: white;
}

#iconTitle{
	font-size: 10vmin;
}

#iconCat{
	margin-top: 20%;
	font-size: 5vmin;
}

.splashBottom{
	position: fixed;
	width: 100%;
	height: 40%;
	top: 60%;
}

.goBack{
	position: absolute;
	width: 27%;
	height: 45%;
	margin-left: 2%;
	bottom: 5%;
}

.select{
	position: absolute;
	width: 27%;
	height: 45%;
	right: 2%;
	bottom: 5%;
}







