
/*-----------HEADER-----------*/
#header{
	background: url("../assets/login/topbar.png");
	background-size: 100% 100%;
	display:block;
	width: 100%;
	margin-bottom: 3%;
}

#last{
	float: left;
}

#title{
	text-align: center;
	font-size: 2em;
	font-family: Helvetica,sans,sans-serif;
	color: white;
	line-height: 70px;
}

#next{
	float: right;
}
/*------------------------------*/



/*-----------Icons-----------*/
.selectedIcons{
	width:26%;
}

#strengthsType{
	background-color: grey;
	margin-top: 3%;
	padding-bottom: 2%;
}

#iconWrapper{
	margin-top: 3.5%;
	padding-right: 0px;
}

.strengthsCategory{
	margin-top: 15px;
	width: 90%;
}

.strengthsType{
	margin-top: 15px;
	width: 32%;
}

.strengthsType:hover{
	opacity: 0.5;
}

#cameraButtonWrap{
	height: #iconWrapper.height;
	margin-top: 3.5%;
	padding-left: 0%;
	padding-right: 1%;

}
#cameraButton{
	margin-top: 15px;
	width: 102%;
}
/*------------------------------*/



/*--Responsive Changes--*/

@media (max-width: 767px) {
	#header{
		width: 100%;
	}

	#last{
		height: 35px;
		width: 80px;
	}

	#title{
		font-size: 20px;
		line-height: 50px;

	}

	img#next{
		height: 35px;
		width: 80px;
	}

	#typeWrapper{
		padding-left: 5%;
	}

	#iconWrapper{
		margin-left: 4%;
	}
	.strengthsCategory{
		width: 32%;
	}

	#cameraButton{
		width: 21.55%;
	}

}

@media (max-width: 480px) {
	#last{
		height: 25px;
		width: 60px;
	}

	#title{
		font-size: 10px;
		line-height: 35px;

	}

	img#next{
		height: 25px;
		width: 60px;
	}

}



