<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>OnePager</title>
		<meta name="description" content="">
		<meta name="author" content="Colin Sheehan">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Styles -->
		<link href="../styles/bootstrap.min.css" rel="stylesheet">
		<link href="../styles/custom.css" rel="stylesheet">

		<!--Scripts -->
		<script type="text/javascript" src= "../controllers/jquery-1.11.1.min.js"></script>		
		<script type="text/javascript" src= "../controllers/controller.js"></script>
	</head>	
	<body>
	<form>

		<!--Strengths-Page-->
		<div class= "page" id= "strengthsPage">

			<!--Header-->
			<div id= "header">
			      <a class= "headerButtons" href="#"><img id="last" alt="Brand" src="../assets/navbuttons/last.png"></a>
			      <a class= "headerButtons" id ="headerNext" href="#"><img id="next" alt="Brand" src="../assets/navbuttons/next.png"></a>
			</div>
			<h4 id= "title">Choose Your Strengths</h4>

			<!--Selected-->
			<div class= "selectedHolder">
				<img src= "../assets/newbuttons/white_button_glow.png" class="selectedIcons">
		        <img src= "../assets/newbuttons/white_button_glow.png" class="selectedIcons">
		        <img src= "../assets/newbuttons/white_button_glow.png" class="selectedIcons" style= "visibility: hidden">
		        <img src= "../assets/newbuttons/white_button_glow.png" class="selectedIcons" style= "visibility: hidden">
			</div>

			<!--Choices-->
			<div class= "chooseHolder">
				<img src="../assets/gray_overlay.png" id= "chooseHolder">

				<div class= "categoryHolder">
					<img src= "../assets/newbuttons/academic_2.png" class= "category" id= "active">
				    <img src= "../assets/newbuttons/extra_curricular_2.png" class= "category">
				    <img src= "../assets/newbuttons/social_2.png" class= "category">
				</div>

				<div class= "chooseIcons">
					<div class= "typeHolder">
						<img src= "../assets/newbuttons/Strengths/Academic/english-writing.png" class= "categoryType" id= "0">
			      		<img src= "../assets/newbuttons/Strengths/Academic/geography.png" class= "categoryType" id= "1">
			      		<img src= "../assets/newbuttons/Strengths/Academic/language.png" class= "categoryType" id= "2">	
						<img src= "../assets/newbuttons/chemistrys.png" class= "categoryType" id= "3">
			      		<img src= "../assets/newbuttons/Strengths/Academic/math_2.png" class= "categoryType" id= "4">
			      		<img src= "../assets/newbuttons/Strengths/Academic/art-music.png" class= "categoryType" id= "5">
					</div>

					<img src= "../assets/mediabuttons/camera_button.png" id= "cameraButton">
				</div>
			</div>
			
			<!--Footer-->
			<div id= "footer">
				<img src="../assets/login/Helpicon_3.png" id="footerImg">
			</div>
		</div> 
	</form>
	</body>
</html>
